<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="commission">
	<select id="day" resultType="int">
		SELECT  to_date(#{commission_date},'dd') - TO_DATE(TO_CHAR(sysdate, 'DD'),'dd')  FROM DUAL
	</select>
	<select id="date" resultType="commissionDto">
		select * from commission
	</select>
	<update id="update" parameterType="commissionDto">
		update commission set commission_rate = #{commission_rate}, commission_date = #{commission_date} where no = 1
	</update>
	<select id="start" resultType="string">
		SELECT ADD_MONTHS(SYSDATE, -1) FROM DUAL
	</select>
	<select id="end" resultType="string">
		SELECT SYSDATE - 1 FROM DUAL
	</select>
	<insert id="regist" parameterType="map">
		insert into commission_list values(
							commission_list_seq.nextval,#{shop_code},
							#{shop_name},#{cartegory},#{total_sum},
							#{commission_rate},#{commission_charge},
							#{commission_sum},#{start_date},#{end_date})
	</insert>
	<select id="list" resultType="commissionListDto">
		select * from commission_list
	</select>
</mapper>
 
 