<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="defaultExecutorType" value="BATCH"/>
	</settings>
	  <!-- 별칭 설정 -->
	  <typeAliases>
	  	<typeAlias type="com.kh.spring.vo.OrdersListVo" alias="orderListVo"/>
	  	<typeAlias type="com.kh.spring.entity.CartSubDto" alias="cartSubDto"/>
	  	<typeAlias type="com.kh.spring.entity.CartListNo" alias="cartListNo"/>
	  	<typeAlias type="com.kh.spring.entity.CartDto" alias="cartDto"/>
	  	<typeAlias type="com.kh.spring.entity.CertDto" alias="certDto"/>
	  	<typeAlias type="com.kh.spring.entity.MemberDto" alias="memberDto"/>
	  	<typeAlias type="com.kh.spring.entity.QnaDto" alias="qnaDto"/>
	  	<typeAlias type="com.kh.spring.entity.ShopDto" alias="shopDto"/>
	  	<typeAlias type="com.kh.spring.entity.CategoryDto" alias="categoryDto"/>
	  	<typeAlias type="com.kh.spring.entity.MenuDto" alias="menuDto"/>
	  	<typeAlias type="com.kh.spring.entity.SubMenuDto" alias="subMenuDto"/>
	 	<typeAlias type="com.kh.spring.entity.OrdersDto" alias="ordersDto"/>
	 	<typeAlias type="com.kh.spring.entity.OrderDetailDto" alias="orderDetailDto"/>
	 	<typeAlias type="com.kh.spring.entity.OrderSubDetail" alias="orderSubDetail"/>
	  	<typeAlias type="com.kh.spring.entity.Menu_SubMenuView" alias="menu_SubMenuView"/>
	  	<typeAlias type="com.kh.spring.entity.NoticeDto" alias="noticeDto"/>
	  	<typeAlias type="com.kh.spring.entity.OnoDto" alias="onoDto"/>
	  	<typeAlias type="com.kh.spring.entity.FilesDto" alias="filesDto"/>
	  	<typeAlias type="com.kh.spring.entity.TermsDto" alias="termsDto"/>
	  	<typeAlias type="com.kh.spring.entity.ReviewDto" alias="reviewDto"/>
	  	<typeAlias type="com.kh.spring.entity.ReviewImgDto" alias="reviewImgDto"/>
	  	<typeAlias type="com.kh.spring.vo.ShopReviewVO" alias="shopReviewVO"/>
	  	<typeAlias type="com.kh.spring.entity.FoodCategoryDto" alias="foodCategoryDto"/>
	  	<typeAlias type="com.kh.spring.entity.PointDetailDto" alias="pointDetailDto"/>
	  	<typeAlias type="com.kh.spring.entity.CouponDto" alias="couponDto"/>
	  	<typeAlias type="com.kh.spring.entity.IssueDto" alias="issueDto"/>
	  	<typeAlias type="com.kh.spring.entity.UsergradeDto" alias="usergradeDto"/>
	  	<typeAlias type="com.kh.spring.entity.MyshopDto" alias="myshopDto"/>
	  	<typeAlias type="com.kh.spring.vo.OrderVo" alias="orderVo"/>
	  	<typeAlias type="com.kh.spring.entity.OnoImgDto" alias="onoImgDto"/>
	  	<typeAlias type="com.kh.spring.vo.FoodCategoryVO" alias="foodCategoryVO"/>
	  	<typeAlias type="com.kh.spring.vo.MenuRegistVO" alias="menuRegistVO"/>
	  	<typeAlias type="com.kh.spring.vo.MenuDetailVO" alias="menuDetailVO"/>
	  	<typeAlias type="com.kh.spring.vo.MemberInfoVO" alias="memberInfoVO"/>
	  	<typeAlias type="com.kh.spring.entity.TotalVo" alias="totalVo"/>
	  	<typeAlias type="com.kh.spring.entity.ShopOnoDto" alias="shoponoDto"/>
	  </typeAliases>
	  
</configuration>


