<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="defaultExecutorType" value="BATCH"/>
	</settings>

	  <!-- 별칭 설정 -->
	  <typeAliases>
	 	<typeAlias type="com.kh.spring.entity.Order_Detail" alias="order_Detail"/>
	  	<typeAlias type="com.kh.spring.entity.ShopDto" alias="shopDto"/>
	  	<typeAlias type="com.kh.spring.entity.CategoryDto" alias="categoryDto"/>
	  	<typeAlias type="com.kh.spring.entity.MenuDto" alias="menuDto"/>
	  	<typeAlias type="com.kh.spring.entity.SubMenuDto" alias="subMenuDto"/>
	  	<typeAlias type="com.kh.spring.entity.QnaDto" alias="qnaDto"/>
	  	<typeAlias type="com.kh.spring.entity.Menu_SubMenuView" alias="menu_SubMenuView"/>
	  	<typeAlias type="com.kh.spring.entity.MemberDto" alias="memberDto"/>
	  	<typeAlias type="com.kh.spring.entity.NoticeDto" alias="noticeDto"/>
	  	<typeAlias type="com.kh.spring.entity.CartDto" alias="cartDto"/>
	  </typeAliases>


</configuration> 
