<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service">
<!-- 자주하는 질문 목록보기 -->
	<select id="qna_list" parameterType="map" resultType="qnaDto">
		<!-- 부등호 등 태그 형식에서 사용 불가한 글자를 허용하는 지역 생성 -->
		select * from(
			select rownum rn, A.* from (
				
				select * from qna
				 where 1=1
				<if test="category != null ">
				and  category=#{category}
				</if>
				and  use_yn like '%'||'Y'||'%'
				order by no desc
			
			)A
		) where rn between #{start} and #{end}
	</select>
	
	<!-- 자주하는 질문 목록과 검색일 경우 각각의 게시글 수를 구하는 SQL명령 -->
	<select id="qna_count" parameterType="string" resultType="int">
		select count(*) from qna
			<if test="category != null">
				where category=#{category} 
			</if>
	</select>
	
	<!-- 자주하는 질문 글쓰기 기능 -->
<!-- 	<insert id="qna_write" parameterType="qnaDto"> -->
<!-- 		insert into qna values( -->
<!-- 			qna_seq.nextval, 1, #{question}, #{answer}, sysdate, sysdate, -->
<!-- 			'y', #{writer}, 'admin') -->
<!-- 	</insert> -->
		
	<delete id="qna_delete" parameterType="int">
	 	delete qna where no = #{no}
	</delete>

<!-- "고객" 공지사항 -->
<!-- 공지사항 목록기능-->
	<select id="notice_list" parameterType="map" resultType="noticeDto">
		<!-- 부등호 등 태그 형식에서 사용 불가한 글자를 허용하는 지역 생성 -->
		select * from(
			select rownum rn, A.* from (
				
				select * from notice
				   where type is null
				<if test="keyword != null ">
					and title like '%' || #{keyword} || '%'
				</if>
				<if test="status=='고객'">
					and status='고객'
				</if>
				order by no desc
				
			)A
		) where rn between #{start} and #{end}
	</select>
	
<!-- 공지사항 [중요]만 위에표시-->	
	<select id="notice_list2"  resultType="noticeDto">
				select * from notice
					where type like '%' ||'중요' || '%' and status='고객'
				order by no desc
	</select>
	
	<!-- "업주" 공지사항 -->
<!-- 공지사항 목록기능-->
	<select id="notice_list3" parameterType="map" resultType="noticeDto">
		<!-- 부등호 등 태그 형식에서 사용 불가한 글자를 허용하는 지역 생성 -->
		select * from(
			select rownum rn, A.* from (
				
				select * from notice
				   where type is null
				<if test="keyword != null ">
					and title like '%' || #{keyword} || '%'
				</if>
				<if test="status=='업주'">
					and status='업주'
				</if>
				order by no desc
				
			)A
		) where rn between #{start} and #{end}
	</select>
	
<!-- "업주" 공지사항 [중요]만 위에표시-->	
	<select id="notice_list4"  resultType="noticeDto">
				select * from notice
					where type like '%' ||'중요' || '%' and status='업주'
				order by no desc
	</select>
	
<!-- 공지사항 검색기능-->	
	<select id="notice_count" parameterType="string" resultType="int">
		select count(*) from notice
			<if test="keyword != null">
				where title like '%' || #{keyword} || '%'
			</if>
	</select>
	
<!-- 공지사항 글 상세보기-->	
	<select id="notice_get" parameterType="int" resultType="noticeDto">
		select*from notice where no = #{no}
	</select>

<!-- 공지사항 조회수 증가-->
	<update id="notice_read" parameterType="int">
		update notice set read = read+1 where no = ${no}
	</update>
	

	
	
<!-- 1:1문의 목록기능-->
	<select id="ono_list" parameterType="map" resultType="onoDto">
		SELECT * 
		 FROM(
			           SELECT ROWNUM RN
			                       , A.NO
			                       ,A.MEMBER_CODE
			                       ,A.SHOP_CODE
			                       ,A.TITLE
			                       ,A.CONTENT
			                       ,A.REGIST_DATE
			                       ,A.EDIT_DATE
			                       ,A.REPLY_STATUS
			                       ,A.REPLY_CONTENT
			                       ,A.TYPE
			                       ,A.CATEGORY
			                       ,(SELECT NAME
			                           FROM CATEGORY
			                         WHERE NO = A.CATEGORY
			                               AND WORK_TYPE = 'qna_category') AS CATEGORY_NAME 
                        FROM (
				                        SELECT * 
				                          FROM ONEANDONE 
				                        WHERE MEMBER_CODE=#{member_code} ORDER BY NO DESC
			                         )A
		        ) WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="ono_count"  resultType="int">
		select count(*) from OneAndOne
	</select>
	

	
<!-- 1:1 문의 글쓰기 기능 -->
	<insert id="ono_write" parameterType="onoDto">
<!-- 		insert into OneAndOne  -->
<!-- 			values( -->
<!-- 				#[no],  -->
<!-- 				#{member_code},  -->
<!-- 				#{shop_code},  -->
<!-- 				#{title},  -->
<!-- 				#{content},  -->
<!-- 				sysdate,  -->
<!-- 				sysdate,  -->
<!-- 				'답변대기',  -->
<!-- 				'고객님 빠른시일내에 답변드리겠습니다.', -->
<!-- 				'고객',  -->
<!-- 				#{category} -->
<!-- 			) -->
		insert into OneAndOne values(
			#{no}, #{member_code}, null,
			#{title}, #{content}, sysdate, sysdate, '답변대기', '고객님 빠른시일내에 답변드리겠습니다.',
			'고객', #{category})
	</insert>
	
	<!--1:1 문의 글 수정 -->
	<select id="get" parameterType="int" resultType="onoDto">
		select * from oneandone where no = #{no}
	</select>
	
<!-- ono테이블 시쿼스 구하기 -->
<select id="ono_seq" resultType="int">
	select oneandone_seq.nextval from dual
</select>

<!--파일테이블 시퀀스 구하기 -->
	<select id="files_seq" resultType="int">
		select files_seq.nextval from dual
	</select>
	
<!--파일테이블에 ono이미지 정보 등록 -->
	<insert id="files_regist" parameterType="filesDto">
		insert into files values(
			#{no}, #{file_type}, #{upload_name}, #{save_name},
			#{file_size}, sysdate, sysdate
		)
	</insert>
	
<!-- 글+이미지 테이블에 정보등록 -->	
	<insert id="ono_img" parameterType="int">
		insert into ono_img values(
			#{ono_img}, #{files_no})
	</insert>
	
<!-- 테이블에서 리뷰정보조회 -->
	<select id="ono_info" parameterType="int" resultType="onoDto">
		SELECT A.NO
                      ,A.MEMBER_CODE
                      ,A.SHOP_CODE
                      ,A.TITLE
                      ,A.CONTENT
                      ,A.REGIST_DATE
                      ,A.EDIT_DATE
                      ,A.REPLY_STATUS
                      ,A.REPLY_CONTENT
                      ,A.TYPE
                      ,A.CATEGORY
                      ,(SELECT NAME
                          FROM CATEGORY
                        WHERE NO = A.CATEGORY
                              AND WORK_TYPE = 'qna_category') AS CATEGORY_NAME  
		   FROM ONEANDONE A
		 WHERE NO = #{ono_code} 
		 ORDER BY NO DESC
	</select>
	
<!-- 이미지코드 조회 -->
	<select id="ono_img_code" parameterType="int" resultType="onoImgDto">
		select*from ono_img where ono_img=#{ono_code}
	</select>
	
 	
 <!-- 1:1문의 파일 업로드 하기	 -->	
<!--  	<insert id="ono_regist" parameterType="filesDto"> -->
<!--  		insert into files values(files_seq.nextval, -->
<!--  								#{file_type},#{upload_name},#{save_name}, -->
<!--  								#{file_size},sysdate,sysdate) -->
<!--  	</insert> -->
 	
<!-- 파일정보 조회 -->
	<select id="filesDto" parameterType="int" resultType="filesDto">
		select * from files where no = #{files_code}
	</select>

 <!-- 1:1문의 글 수정 하기	 --> 	
 	<update id="ono_edit" parameterType="onoDto">
 		update OneAndOne
 			set
 				category = #{category},
 				title = #{title},
 				content = #{content}
 			where
 				no = #{no}
 	</update>
 	
<!-- 1:1문의 관리자 목록과 검색일 경우 각각의 게시글 수를 구하는 SQL명령 --> 	
 	<select id="super_ono_count" parameterType="map" resultType="int">
 		select count(*) from oneandone
 			where 1=1
 				<if test="apply_status !=null and apply_status != '전체'">
					and reply_status = #{apply_status} 
				</if>
				<if test="keyword_type !=null and keyword_type !='전체'and keyword != null and keyword != ''">
					and ${keyword_type} like '%' || #{keyword} || '%'
				</if>
				<!-- 기간 검색 -->
				<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
				and regist_date between to_date(#{start_date}, 'YYYY-MM-DD') and to_date(#{end_date}, 'YYYY-MM-DD') + 1 - 1 / 864000 
				</if>
 			
 	</select>
 	
 	
 	<!-- 고객 답변완료+답변대기 개수 -->	
	<select id="client_count"  resultType="int">
		select count(*) from oneandone where type='고객'
	</select>
	
 	<!-- 
 		만약 전체목록이면 : select * from oneandone where type='고객'
 		개수를 구하는경우 : select count(*) from oneandone where type='고객'
 	 -->
 	
<!-- 1:1문의 관리자 목록 -->
<!-- 답변대기만 표시 -->

	<select id="super_ono_list2" parameterType="map"  resultType="onoDto">
	select * from(
			select rownum rn, A.* from (
				
				select * from oneandone
				   where 1=1
				<if test="apply_status !=null and apply_status != '전체'">
					and reply_status = #{apply_status} 
				</if>
				<if test="keyword_type !=null and keyword_type !='전체'and keyword != null and keyword != ''">
					and ${keyword_type} like '%' || #{keyword} || '%'
				</if>
				<!-- 기간 검색 -->
				<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
				and regist_date between to_date(#{start_date}, 'YYYY-MM-DD') and to_date(#{end_date}, 'YYYY-MM-DD') + 1 - 1 / 864000 
				</if>
					and type='고객' and reply_status ='답변대기'
		order by no desc
				
			)A
		) where rn between #{start} and #{end}
	</select>
	
<!-- 답변대기+답변완료 모두 표시 -->	
 	<select id="super_ono_list" parameterType="map" resultType="onoDto">
		<!-- 부등호 등 태그 형식에서 사용 불가한 글자를 허용하는 지역 생성 -->
		select * from(
			select rownum rn, A.* from (
				
				select * from oneandone
				   where 1=1
			
				<if test="apply_status !=null and apply_status != '전체'">
					and reply_status = #{apply_status} 
				</if>
				<if test="keyword_type !=null and keyword_type !='전체'and keyword != null and keyword != ''">
					and ${keyword_type} like '%' || #{keyword} || '%'
				</if>
				<!-- 기간 검색 -->
				<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
				and regist_date between to_date(#{start_date}, 'YYYY-MM-DD') and to_date(#{end_date}, 'YYYY-MM-DD') + 1 - 1 / 864000 
				</if>
				
					and type='고객'
				
				order by no desc
				
			)A
		) where rn between #{start} and #{end}
	</select>

<!-- 1:1문의 관리자 글 상세보고 답글달기 -->	

	 	<update id="super_ono_edit" parameterType="onoDto">
 		update OneAndOne
 			set
 				reply_content = #{reply_content}
 			where
 				no = #{no}
 	</update>
 	
<!-- 답변 상태 변경 -->
	<update id="super_reply_status" parameterType="onoDto">
		update oneandone set reply_status='답변완료' where no = #{no}
	</update>
	
<!-- 답변대기 개수-->	
	<select id="count_reply" resultType="int">
		select count(*) from oneandone
				where reply_status='답변대기' and type='고객'
	</select>
	

<!-- 업주 1:1 문의 -->
<!-- 1:1문의 관리자 목록과 검색일 경우 각각의 게시글 수를 구하는 SQL명령 --> 	
 	<select id="super_ono_count_ceo" parameterType="map" resultType="int">
 		select count(*) from oneandone
 			where 1=1
 				<if test="apply_status !=null and apply_status != '전체'">
					and reply_status = #{apply_status} 
				</if>
				<if test="keyword_type !=null and keyword_type !='전체'and keyword != null and keyword != ''">
					and ${keyword_type} like '%' || #{keyword} || '%'
				</if>
				<!-- 기간 검색 -->
				<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
				and regist_date between to_date(#{start_date}, 'YYYY-MM-DD') and to_date(#{end_date}, 'YYYY-MM-DD') + 1 - 1 / 864000 
				</if>
 			
 	</select>
 	
<!-- 답변대기+답변완료 모두 표시 -->	
 	<select id="super_ono_list_ceo" parameterType="map" resultType="onoDto">
		<!-- 부등호 등 태그 형식에서 사용 불가한 글자를 허용하는 지역 생성 -->
		select * from(
			select rownum rn, A.* from (
				
				select * from oneandone
				   where 1=1
 				<if test="apply_status !=null and apply_status != '전체'">
					and reply_status = #{apply_status} 
				</if>
				<if test="keyword_type !=null and keyword_type !='전체'and keyword != null and keyword != ''">
					and ${keyword_type} like '%' || #{keyword} || '%'
				</if>
				<!-- 기간 검색 -->
				<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
				and regist_date between to_date(#{start_date}, 'YYYY-MM-DD') and to_date(#{end_date}, 'YYYY-MM-DD') + 1 - 1 / 864000 
				</if>
					and type='업주'
				order by no desc
				
			)A
		) where rn between #{start} and #{end}
	</select> 	

<select id="super_ono_list2_ceo" parameterType="map"  resultType="onoDto">
	select * from(
			select rownum rn, A.* from (
				
				select * from oneandone
				  where 1=1
 				<if test="apply_status !=null and apply_status != '전체'">
					and reply_status = #{apply_status} 
				</if>
				<if test="keyword_type !=null and keyword_type !='전체'and keyword != null and keyword != ''">
					and ${keyword_type} like '%' || #{keyword} || '%'
				</if>
				<!-- 기간 검색 -->
				<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
				and regist_date between to_date(#{start_date}, 'YYYY-MM-DD') and to_date(#{end_date}, 'YYYY-MM-DD') + 1 - 1 / 864000 
				</if>
					and type='업주' and reply_status ='답변대기'
		order by no desc
				
			)A
		) where rn between #{start} and #{end}
	</select>
	
<!-- 답변대기 개수-->	
	<select id="count_reply_ceo" resultType="int">
		select count(*) from oneandone
				where reply_status='답변대기' and type='업주'
	</select>
	
	
 	
 	<!-- 업주 답변완료+답변대기 개수 -->	
	<select id="ceo_count"  resultType="int">
		select count(*) from oneandone where type='업주'
	</select>


 <!-- 조회수 증가 -->
<!--  	<update id="read" parameterType="int"> -->
<!--  		update review set read = read+1 where no=#{ono_code} -->
<!--  	</update> -->
 	

</mapper>