<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopono">
<!-- 답변대기+답변완료 모두 표시 -->	
 	<select id="super_shopono_list_ceo" parameterType="map" resultType="shoponoDto">
		<!-- 부등호 등 태그 형식에서 사용 불가한 글자를 허용하는 지역 생성 -->
		select * from(
			select rownum rn, A.* from (
				
				select * from shop_ono
				   where 1=1
 				<if test="apply_status !=null and apply_status != '전체'">
					and reply_status = #{apply_status} 
				</if>
				<if test="keyword_type !=null and keyword_type !='전체'and keyword != null and keyword != ''">
					and ${keyword_type} like '%' || #{keyword} || '%'
				</if>
				<!-- 기간 검색 -->
				<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
				and regist_date between to_date(#{start_date}, 'YYYY-MM-DD') and to_date(#{end_date}, 'YYYY-MM-DD') + 1 - 1 / 864000 
				</if>
					and type='업주'
				order by ono_no desc
				
			)A
		) where rn between #{start} and #{end}
	</select> 	

<select id="super_shopono_list2_ceo" parameterType="map"  resultType="shoponoDto">
	select * from(
			select rownum rn, A.* from (
				
				select * from shop_ono
				  where 1=1
 				<if test="apply_status !=null and apply_status != '전체'">
					and reply_status = #{apply_status} 
				</if>
				<if test="keyword_type !=null and keyword_type !='전체'and keyword != null and keyword != ''">
					and ${keyword_type} like '%' || #{keyword} || '%'
				</if>
				<!-- 기간 검색 -->
				<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
				and regist_date between to_date(#{start_date}, 'YYYY-MM-DD') and to_date(#{end_date}, 'YYYY-MM-DD') + 1 - 1 / 864000 
				</if>
					and type='업주' and reply_status ='답변대기'
		order by ono_no desc
				
			)A
		) where rn between #{start} and #{end}
	</select>
	
	
	<!-- 테이블에서 정보조회 -->
	<select id="ono_info" parameterType="int" resultType="shoponoDto">
		select * from shop_ono where ono_no = #{ono_code} order by ono_no desc
	</select>
	<!-- 글쓰기 -->
	<select id="shopono.ono_seq" resultType="int">
		select oneandone_seq.nextval from dual
	</select>
	
	<insert id="shopono.ono_ceo_write" parameterType="onoDto">
	insert into OneAndOne values(
			#{no}, #{member_code}, #{shop_code},
			#{title}, #{content}, sysdate, sysdate, '답변대기', '업주님 빠른시일내에 답변드리겠습니다.',
			'업주', #{category})
	</insert>
	
	</mapper>
	
