<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="shop">
 	
 	<!-- 매장목록조회-->
 	<select id="list" parameterType="map" resultType="shopDto">
 		select * from shop
 			where no between #{start} and #{end}
 			<if test="cat_no > 0">
 				and category = #{cat_no}
 			</if>
 	</select>
 	<!-- 카테고리 목록 -->
 	<select id="category" resultType="categoryDto">
 		select * from category where work_type='food_category'
 	</select>
 	
 	<!-- 매장상세 매장정보 -->
 	<select id="shop_info" parameterType="int" resultType="shopDto">
 		select * from shop where no=#{no}
 	</select>
 	
 	<!--매장상세 메뉴목록 -->
 	<select id="menu" parameterType="int" resultType="menuDto">
 		select * from menu where shop_code=#{no}
 	</select>
 	
 	<!-- 서브메뉴 메뉴명 -->
 	<select id="menu_name" parameterType="int" resultType="menuDto">
 		select * from menu where no=#{menu_no}
 	</select>
 	
 	<!--매장상세 메뉴목록 -->
 	<select id="sub_menu" parameterType="int" resultType="subMenuDto">
 		select * from sub_menu where menu_code=#{menu_no}
 	</select>
 
 	<insert id="regist" parameterType="shopDto">
 		insert into shop values(shop_seq.nextval,#{category},#{company_name},#{company_code},#{ceo},#{ceo_phone},
 						#{bank},#{account_number},#{account_name},#{shop_name},#{shop_phone},#{zip_code},
 						#{basic_addr},#{detail_addr},#{content},sysdate,null,null,
 						null,'대기',#{min_price},#{min_time},#{delivery_price}
 						,TO_DATE(#{start_time},'HH24:MI'),TO_DATE(#{finish_time},'HH24:MI'),null,#{location_y},#{location_x},#{shop_img},#{business_regist},#{sale_regist})
 	</insert>
 	
 	<select id="getno" parameterType="shopDto" resultType="int">
 		select no from shop where company_name = #{company_name}
 	</select>
 	
 	<insert id="files_regist" parameterType="filesDto">
 		insert into files values(#{no},#{file_type},#{upload_name},#{save_name},
 								#{size},sysdate,sysdate)
 	</insert>
 	<select id="seq" resultType="int">
		select files_seq.nextval from dual
	</select>
	<update id="edit" parameterType="shopDto">
		update shop
			set
				category = #{category},
				company_name = #{company_name},
				company_code = #{company_code},
				ceo = #{ceo},
				ceo_phone = #{ceo_phone},
				bank = #{bank},
				account_number = #{account_number},
				account_name = #{account_name},
				shop_name = #{shop_name},
				shop_phone = #{shop_phone},
				zip_code = #{zip_code},
				basic_addr = #{basic_addr},
				detail_addr = #{detail_addr},
				min_price = #{min_price},
				delivery_price = #{delivery_price},
				start_time = TO_DATE(#{start_time},'HH24:MI'),
				finish_time = TO_DATE(#{finish_time},'HH24:MI'),
				shop_img = #{shop_img}
			where
				no = #{no} 
	</update>
 </mapper>