@font-face{
	font-family:maple;
	src:url("../font/Maplestory Light.ttf");
}

*{
    font-family: 'maple';
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
}

/*네비게이션 바*/
.navbar{
    background-color:#9C3D39;
    height: 70px;
}

/*로고이미지*/
.navbar-brand > img{
    width: 150px;
}

/*헤더리스트 위치*/
.header-button > .owner{
    margin-right: 500px;
}
.header-button > .owner a{
    color: whitesmoke;
}
.header-button > .loginTime{
    margin-right: 50px;
}
.header-button > .loginTime a{
    color: whitesmoke;
}

 /*상단메뉴*/
.top-menu{
    height: 40px;
    vertical-align: middle;
    margin-top:2px;
    border-top: 2px solid #9C3D39;
    border-bottom: 2px solid #9C3D39;
    background-color:#f1f1f1;
}
.top-menu ul li{
    display: inline-block;
    font-size:1.1rem;
    padding:5px 25px;
}

 /*Left메뉴*/
 .left{
     width:150px;
     min-height:850px;
     margin-top:1px;
     background-color:#e0e0e0;
     position: fixed;
     padding-left: 0;
 }
.left ul li{
    margin-top: 30px; 
    list-style: none;
    margin-right: 10px; 
}

/*TOP하이라이트*/
.active{
    background-color: darkgray;
}
/*LEFT하이라이트*/
.on{
    color:#9C3D39;
    font-size: 1.2rem;
}

/* | 표시*/
#terms-wrapper {
    cursor:pointer;
    display: inline-block;
  }
.terms-line {
    background-color:#9C3D39;
    top:3px;
    width:3px;
    height:25px; 
    margin-right: 10px;
    border-radius:2px;
    box-shadow:0 1px 3px rgba(0,0,0,.5);
    position:relative;
    display: inline-block;
  }
  
 /*전체 래퍼*/
.wrapper{
	margin-left:180px;
	width:85%;
}

/*top-title*/
.top-title{
	margin-top:10px;
	vertical-align:middle;
}

/*약관관리*/
.tab-pane{
	background-color:white;
}
.tab-pane table .terms-title{
	text-align:center;
	vertical-align:middle;
	width:10%;
	background-color:#a4d7e1;
}
.save-btn{
	margin-top:0px;
	padding-top:0px;
	text-align:center;
	background-color:white;
}
.save-btn a{
	width:200px;
	color:white;
}

/*검색창*/
.search-wrapper{
	width:80%;
	margin-top:20px;
	text-align:center;
	vertical-align:middle;
}
.search-wrapper table tr td{
	vertical-align:middle;
	text-align:center;
}
.search-btn{
	width:100px;
	margin-left:88%;
}
.search-wrapper .table {
    margin-bottom: 0px;
}

/*목록창*/
.over-text{
	overflow:hidden;white-space;text-overflow:ellipsis;
}
.list-wrapper table{
	width:90%;
}
.list-wrapper table tr{
	height:10px;
}

/*리뷰*/
.review{
    background-color:#ffffff;
    border:1px solid lightgray;
}
.review-img img{
    padding: 5px;
    float:left;
    background-color: #ffffff;
	width: 50%;
    height:200px;
    cursor:pointer;
}
.review-img::after{
    content:"";
    display:block;
    clear:both;
}
.review-id{
    font-size: 1.2rem;
    padding-left:10px;
    padding-top:8px;
    height: 40px;
}
.review-menu{
    color: red;
    padding-left:10px;
    padding-top:8px;
    height: 40px;
}
.review-content{
    padding: 5px 25px;
}

/*리뷰 작성*/
.review-top{
    background-color: #9C3D39;
    height: 2px;
}
.review-title{
    text-align: center;
    width:15%;
    height:110px;
    background-color: #fafafa;
}
.review-content img{
    margin-left: 25px;
}
.review-content span{
    margin-left: 10px;
    text-align: left;
    width:85%;
    padding: 5px 25px;
}
.review-content input{
    padding: 5px 25px;
    margin-left: 10px;
}
.review-content textarea{
    padding: 5px 25px;
    margin-left: 10px;
}
#choice-img > img{
	margin-left:20px;
	height:100px;
	width:100px;
    border-image: none;
}
.review-text{
    text-align: center;
    width:15%;
    height:70px;
    background-color: #fafafa;
}
.review-img{
	cursor:pointer;
    border:1px solid lightgray;
    padding: 5px;
    float:left;
    background-color: #ffffff;
	width: 403px;
    height:200px;
    cursor:pointer;
}
.review-img::after{
    content:"";
    display:block;
    clear:both;
}
.table td, .table th {
    vertical-align: middle;
}

/*음식카테고리*/
.food-category-title table{
	width:90%;
}
.add{
	width:200px;
}
.del{
	width:100px;
}
.category-img img{
	width:100px;
	height:100px;
}

/*포인트 상세화면 */
.point-detail{
	border: 1px solid lightgray;
}
.point-detail div{
	height:60px;
    padding-top:8px;
    font-size:1.2rem;
}
.point-detail-list{
	background-color:#2C3E50;
	color:white;
	font-size:1.1rem;
}

/*메뉴*/
.menu-regist-table{
	width:70%;
}
.menu-img{
	width:100px;
	height:100px;
}

/*shop_admin login */
.adminLogin-title{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color:#9C3D39;
    margin-top: 100px;
}
.admin-id{
    font-size: 1.5rem;
    vertical-align: middle;
}
.login-btn{
    background-color: #9C3D39;
    font-size: 1.5rem;
    color:whitesmoke;
    padding: 10px;
}
.login-table td{
    vertical-align: middle;
}
.login-bottom{
    border-top:2px solid #9C3D39;
}
.login-text{
    color:red;
    margin-top:10px;
    font-weight: bolder;
}

/*shop_admin home */
.shop-wrapper{
    margin: 1% 5%;
    width: 90%;
    min-height: 600px;
}
.home-menu-box{
    height:250px;
    width:30%;
    margin:10px 20px;
    border: 1px solid lightgray;
}
.home-order-box{
    height:250px;
    width:30%;
    margin:10px 23px;
    border: 1px solid lightgray;
}
.home-sale-box{
    height:250px;
    width:30%;
    margin:10px 23px;
    border: 1px solid lightgray;
}
.home-box table{
    height:180px;
}
.home-img{
    margin-top: 50px;
    width:130px;
    margin-left: 20px;
}
.home-title{
    font-weight: bold;
    font-size: 1.7rem;
}
.home-content{
    font-weight: 700;
    font-size:1.2rem;
}
/* 오늘의 주문현황 */
.today-order img{
    height:60px;
}
.shop_notice img{
    height:60px;
}
.today-order{
    font-size: 1.3rem;
    font-weight: bold;
}
.today-table td{
    vertical-align: middle;
}
.today-table img{
    height:100px;
    margin-left: 40px;
}
.shop_notice{
    font-size: 1.3rem;
    font-weight: bold;
}
.shop_notice table td{
    vertical-align: middle;
}
.today-order-title{
    background-color: lightgray;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
.today-order-content{
    height: 250px;
    font-weight: bold;
    font-size:2rem;
    text-align: center;
}
.today-notice-content{
    font-size: 1.2rem;
}

/*super_admin*/
.super-title{
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: #f1f1f1;
}
.super-sub-title{
    font-weight: bold;
    font-size:1.1rem;
}