@font-face{
	font-family:maple;
	src:url("../font/Maplestory Light.ttf");
}

*{
    font-family: 'maple';
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
}

/*네비게이션 바*/
.navbar{
    background-color:#9C3D39;
    height: 70px;
}

/*로고이미지*/
.navbar-brand > img{
    width: 150px;
}

/*헤더리스트 위치*/
.header-button > .owner{
    margin-right: 500px;
}
.header-button > .owner a{
    color: whitesmoke;
}
.header-button > .loginTime{
    margin-right: 50px;
}
.header-button > .loginTime a{
    color: whitesmoke;
}

 /*상단메뉴*/
.top-menu{
    height: 40px;
    vertical-align: middle;
    margin-top:2px;
    border-top: 2px solid #9C3D39;
    border-bottom: 2px solid #9C3D39;
    background-color:#f1f1f1;
}
.top-menu ul li{
    display: inline-block;
    font-size:1.1rem;
    padding:5px 25px;
}

 /*Left메뉴*/
 .left{
     width:150px;
     min-height:850px;
     margin-top:1px;
     background-color:#e0e0e0;
     position: fixed;
     padding-left: 0;
 }
.left ul li{
    margin-top: 30px; 
    list-style: none;
    margin-right: 10px; 
}

/*TOP하이라이트*/
/* .active{ */
/*     background-color: darkgray; */
/* } */
/*LEFT하이라이트*/
.on{
    color:#9C3D39;
    font-size: 1.1rem;
}

/* | 표시*/
#terms-wrapper {
    cursor:pointer;
    display: inline-block;
  }
.terms-line {
    background-color:#9C3D39;
    top:3px;
    width:3px;
    height:25px; 
    margin-right: 10px;
    border-radius:2px;
    box-shadow:0 1px 3px rgba(0,0,0,.5);
    position:relative;
    display: inline-block;
  }
  
 /*전체 래퍼*/
.wrapper{
	margin-left:180px;
	width:70%;
}

/*top-title*/
.top-title{
	margin-top:10px;
	vertical-align:middle;
}

/*약관관리*/
.tab-pane{
	background-color:white;
}
.tab-pane table .terms-title{
	text-align:center;
	vertical-align:middle;
	width:10%;
	background-color:#a4d7e1;
}
.save-btn{
	margin-top:0px;
	padding-top:0px;
	text-align:center;
	background-color:white;
}
.save-btn a{
	width:200px;
	color:white;
}
