@font-face{
	font-family:"maple";
	src:url("../font/Maplestory Light.ttf");
}

*{
    font-family: 'maple';
    box-sizing: border-box;
}
@font-face{
	font-family: 메이플스토리;
	src:url("../font/Maplestory Light.ttf");
}

/*네비게이션 바*/
.navbar{
    background-color:#9C3D39;
    height: 100px;
}

/*로고이미지*/
.navbar-brand > img{
    width: 150px;
}

/*헤더 리스트*/
.nav-list li{
    display: inline;
    font-size: 1.3rem;
}
.nav-list li a{
    text-decoration: none;
    color: antiquewhite;
}

/*헤더리스트 위치*/
dl, ol, ul{
    margin-top: 1rem;
    margin-right: 5rem;
}

/*헤더메뉴 사이 | 표시*/
#line-wrapper {
    cursor:pointer;
    display: inline-block;
  }
.line {
    background:floralwhite;
    top:3px;
    width:1px;
    height:20px; 
    margin-right: 10px;
    border-radius:2px;
    box-shadow:0 1px 3px rgba(0,0,0,.5);
    position:relative;
    display: inline-block;
  }

/*음식 카테고리*/
.food-category{
    background-color:#ffffff;
    width:100%;
    height:60px;
}
.food-category ul{
	height:60px;
}
.food-list{
    margin-top: 0;
}
.food-list li{
    margin-top:0.7rem;
    list-style: none;
    display: inline-block;
    margin-right: 1rem;
    font-size:1.2rem;
}
.food-list img{
    width:30px;
}

/*상단음식카테고리하이라이트*/
.on{
   background-color:lightgray;
   padding:5px 25px;
}
/*상단음식카테고리*/
.food-list li a{
	text-decoration:none;
	color: #646464;
}
.food-list li a:hover{
	font-size:1.3rem;
    color:#9C3D39;
}

/*매장목록 필터영역*/
.filter-wrap{
    height:55px;
}
.filter{
    height:50px;
    margin-top: 0.5rem;
}
.shop-number{
    font-weight: bolder;
	font-size:1.2rem;
	color:gray;
}
.shop-filter{
    margin-left:45%;
}
.shop-filter > .dropdown > a{
    width:200px;
    border:1px solid black;
    background-color: #ffffff;
}

/*매장목록*/
.shop{
    min-height: 500px;
    background-color: #fafafa;
}
.shop-list{
    list-style: none;
    padding:10px;
}
.shop-list > li{
	cursor:pointer;
    border:1px solid lightgray;
    padding: 5px;
    float:left;
    background-color: #ffffff;
	width: 500px;
    height:160px;
    cursor:pointer;
}
.shop-list::after{
    content:"";
    display:block;
    clear:both;
}
.menu-info{
	height:160px;
	margin-left:170px;
}
/* .shop-list li .menu-image{ */
/*     height: 100px; */
/*     width: 25%; */
/*     display: inline-block; */
/*     vertical-align: middle; */
/* } */
/* .shop-list li .menu-info{ */
/*     height: 100px; */
/*     width: 70%; */
/*     display: inline-block; */
/*     vertical-align: middle; */
/* } */
.shop-list-img{
	cursor:pointer;
    padding-left: 5px;
    float:left;
    background-color: #ffffff;
	width: 150px;
    height:150px;
    cursor:pointer;
}


/*매장목록정보표시*/
.shop-name{
	padding-top:7px;
	height:60px;
	font-weight: bolder;
	font-size:1.5rem;
	margin-left:10px;
}
.shop-score{
	height:30px;
	color:gray;
}
.shop-review{
	height:30px;
	color:gray;
}
.min-price{
	height:30px;
	color:gray;
}
.delivery-time{
	height:40px;
	color:gray;
}
/*매장목록정보 사이 | 표시*/
#line-shop{
	cursor:pointer;
    display: inline-block;
  }
#line-shop > .line {
    background:lightgray;
    top:3px;
    width:1px;
    height:15px; 
    margin-left: 10px;
    margin-right: 10px;
    border-radius:2px;
    box-shadow:0 1px 3px rgba(0,0,0,.1);
    position:relative;
    display: inline-block;
  }

 /*매장정보shop_detail*/ 
.shop-info{
    height: 180px;
    border:1px solid lightgrey;
    padding: 10px;
    background-color: #ffffff;
 }
.menu-detail{
	margin-top:15px;
    background-color: whitesmoke;
 }
 .shop-detail-info{
     padding-left:10%;
     width:75%;
 }
 .shop-detail-name{
     font-size: 1.3rem;
 }
 .shop-detail-score{
     padding-top: 10px;
     color:gray;
 }
 .shop-detail-review{
 	padding-left:0px;
    padding-top: 10px;
     color:gray;
 }
 .shop-detail-minPrice{
    padding-top: 10px;
    color:gray;
    margin-right:100px;
    padding-left: 20%;
}
.shop-detail-delTime{
    color:gray;
}

/*메뉴 탭*/
.nav-tabs > li{
    text-align: center;
    width:33.3%;
}
.nav-tabs > li > a{
    text-align: middle;
    text-decoration:none;
	color:black;
}
.nav-tabs > li > a:click{
	color:red;
}
.menu-detail > ul{
	margin-top:0;
	margin-right:0;
}

/*메뉴*/
.menu{
    min-height: 400px;
    background-color:#ffffff;
}
.menu-toggle{
	border:1px solid darkgray;
    cursor: pointer;
    height: 50px;
    background-color:lightgray;
    padding: 12px 20px;
}
.menu-content{
    cursor: pointer;
    height: 100px;
}
.menu-name{
    font-size: 1.3rem;
    padding-top: 20px;
    padding-left: 25px;
    height: 50px;
    width: 80%;
}
.menu-price{
    font-size: 1.1rem;
    padding: 5px 25px;
    height: 50px;
    width: 80%;
}
.menu-img{
    height: 100px;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table td, .table th {
    padding: 0px;
    vertical-align: middle;
}
.tab-text{
	font-size: 1.2rem;
	font-weight:bold;
}

/*리뷰*/
.review{
    background-color:white;
    border:1px solid lightgray;
	min-height:400px;
}
.review-img img{
    padding: 5px;
    background-color: #ffffff;
	width: 348px;
    cursor:pointer;
    display:flex;
    flex-wrap:wrap;
}
.review-id{
    font-size: 1.2rem;
    padding-left:10px;
    padding-top:8px;
    height: 40px;
    color:#3118BA;
}
.review-menu{
    color: red;
    padding-left:10px;
    padding-top:8px;
    height: 40px;
}
.review-content{
    padding: 5px 25px;
}

/*정보*/
.info{
    min-height: 400px;
    padding: 20px;
    background-color:#ffffff;
}

/*모달 바디*/
.modal-img{
    width:466px;
}
.modal-menuName{
    height:50px;
    padding-top:10px;
    text-align: center;
    width:466px;
}
.modal-number {
	font-size:1.3rem;
    margin-right:55%;
}
.modal-body table tr td:nth-child(1){
    padding-right: 200px;
}
.modal-totalPrice{
    padding-top: 10px;
    padding-left: 10px;
    height: 50px;
    font-size: 1.2rem;
    background-color:#EFEFEF;
}
.modal-totalPrice span:nth-child(2){
    color:red;
    padding-left: 240px;
    font-size:1.3rem;
}
#go_cart{
    width:49%;
    background-color: #7F7F7F;
    color: white;
}
#go_order{
    width:49%;
    background-color: red;
    color: white;
}
#change-number{
	width:100px;
}

/*나의정보 헤더*/
.my-header{
    border: 3px solid #9C3D39;
    border-left-color: white;
    border-right-color: white;
    margin-top:10px;
    padding-top:1.5rem;
    height: 90px;
}
.my-header .component{
    margin-left:130px;
}
.my-header .my-title{
    font-size: 1.4rem;
    color: #646464;
}
.my-header .my-info{
    font-size: 1.2rem;
    color: #9C3D39;
}
/*나의정보헤더 사이 | 표시*/
#myInfo-wrapper {
    cursor:pointer;
    display: inline-block;
  }
.myInfo-line {
    background:#9C3D39;
    top:3px;
    width:3px;
    height:30px; 
    margin-right: 10px;
    border-radius:2px;
    box-shadow:0 1px 3px rgba(0,0,0,.5);
    position:relative;
    display: inline-block;
  }

/*나의정보 left*/
.myInfo-box{
    display: inline-block;
    position: absolute;
    width: 11%;
    min-height: 500px;
    margin-left:20px;
}
.myInfo-box .myInfo-left{
    width:100%;
    height:300px;
}
.myInfo-left div{
    cursor: pointer;
    border:1.5px solid lightgray;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}
.myInfo-box div span{
    font-size: 1.2rem;
}
.myInfo-left{
    text-align: center;
}
.myInfo-left .my-Info{
    font-size: 1.7rem;
    margin-bottom: 10px;
    margin-top:10px;
}
.myInfo-box a{
	text-decoration:none;
	color:black;
}

/*나의정보 제목부분*/
.wrapper{
	margin-left:280px;
	width:70%;
}

/*나의정보 제목부분*/
.myInfo-title {
    margin-top: 1rem;
    font-size: 1.5rem;
}

/*나의정보 테이블*/
/* .myInfo-table{ */
/* 	 font-size:1.2rem; */
/* } */
.myInfo-table tr{
    height:50px; 
    cursor:pointer;
}

.myInfo-table thead tr td{
    color:white;
    background-color: #2C3E50;
}

/*나의정보 주문상세화면*/
.order-detail-info{
    margin-top:10px;
    border-top:2px solid;
    border-bottom:1px solid;
    border-top-color: #9C3D39;
    border-bottom-color: #9C3D39;
    border-left-color:white;
    border-right-color:white;
    padding: 5px 25px;
    padding-top: 20px;
}
.Detail-title{
    text-align: center;
    width:15%;
    height: 50px;
    background-color: #fafafa;
    font-size:1.1rem;
}
.Detail-content span{
    padding-left: 5%;
    font-size:1.2rem;
}
.shop-title-name{
	height:200px;
}
.shop-name-title{
	height:100px;
	maring-left:100px;
	font-size:1.3rem;
	vertical-align:middle;
	color:cadetblue;
}
.Detail-content table td{
    padding:5px 25px;
}
.Detail-menu{
    margin-top:10px;
    width:40%;
    font-size:1.2rem;
    height: 50px;
}
.Detail-menu-price span{
     font-size:1.3rem;
}
.Detail-menu-title span{
    margin-left:30px;
    color:cadetblue;
}
.Detail-subMenu-name span{
    margin-left:50px;
    color:gray;
}
.Detail-subMenu-price span{
    color:gray;
}
.detail-btn{
    width:150px;
    background-color: #2C3E50;
}

/*리뷰 작성*/
.review-top{
    background-color: #9C3D39;
    height: 2px;
}
.review-title{
    text-align: center;
    width:15%;
    height:110px;
    background-color: #fafafa;
    font-weight:bold;
    font-size:1.3rem;
}
.review-content img{
    margin-left: 25px;
}
.review-content span{
    margin-left: 10px;
    text-align: left;
    width:85%;
    padding: 5px 25px;
}
.review-content input{
    padding: 5px 25px;
    margin-left: 10px;
}
.review-content textarea{
    padding: 5px 25px;
    margin-left: 10px;
}
#choice-img > img{
	margin-left:20px;
	height:100px;
	width:100px;
    border-image: none;
}
.review-text{
    text-align: center;
    width:15%;
    height:70px;
    background-color: #fafafa;
}
.review-img{
	cursor:pointer;
    border:1px solid lightgray;
    padding: 5px;
    background-color: #ffffff;
    cursor:pointer;
    display:flex;
    flex-wrap:wrap;
}
.table td, .table th {
    vertical-align: middle;
}

 /*약관*/
.terms-nav{
   width:230px;
}
.terms-nav a{
	width:230px;
}
.terms-modal{
	width:800px;
	min-height:600px;
}
.terms-modal-wrap{
	text-align:center;
	margin-left:300px;
	min-height:800px;
}

 /*footer*/ 
footer{
    background-color: lightgray;
}
.footer-menu ul{
    list-style: none;
    vertical-align: middle;
    display: inline-block;
    margin-top: 1.5rem;
}
.footer-menu ul li{
	cursor:pointer;
    vertical-align: middle;
    margin-right: 30px;
    display: inline;
    font-size: 1.2rem;
}
.footer-menu ul li a{
	color:black;
	text-decoration:none;
} 

/*메인검색화면*/
.search_top{
}
.where-addr{
	text-align:center;
	font-size:2.5rem;
	font-weight:bold;
	color:#007f7f;
}
.where-addr span{
	text-align:center;
	font-size:2.5rem;
	font-weight:bold;
	color:	#e4e213;
}
.iim{
	height:200px;
	padding:30px 30px;
}
.where-text{
	text-align:center;
	font-size:1.5rem;
	font-weight:bold;
	color:white;
}
.search-btn{
	text-align:center;
}
.search-btn > input{
	height:40px;
	width:300px;
}

/* | 표시*/
#terms-wrapper {
    cursor:pointer;
    display: inline-block;
  }
.terms-line {
    background-color:#9C3D39;
    top:3px;
    width:3px;
    height:25px; 
    margin-right: 10px;
    border-radius:2px;
    box-shadow:0 1px 3px rgba(0,0,0,.5);
    position:relative;
    display: inline-block;
  }
  
  /*입점신청*/
.header-title{
	font-weight: bold;
    font-size: 1.4rem;
}
.menu-regist-table{
	width:60%;
}
.menu-regist-table td{
	height:35px;
}
.menu-regist-table input{
	height:40px;
	padding-left:10px;
}
.menu-regist-table .title{
	
    font-size: 1.3rem;
    background-color:#ab5a5a;
    color:white;
   	width:30%;
}
.menu-regist-table img{
	width:100px;
}

/*입점절차*/
.regist-wrapper{
	margin-left:280px;
	width:70%;
}
.regist-wrapper .shop-apply-img{
	width:100%;
}
.explan-title{
	font-weight: bold;
	font-size: 1.7rem;
}
.shop_apply_btn button{
	width:20%;
	margin-top:20px;
}
.apply-check-title img{
	width:50px;
}
.regist_result{
	min-height:600px;
}
.regist_result img{
	height:400px;
}
.regist_result a{
	width:200px;
	background-color:#7aa0bd;
}

/*login*/
.adminLogin-title{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color:#9C3D39;
    margin-top: 100px;
}
.admin-id{
    font-size: 1.2rem;
    vertical-align: middle;
}
.login-btn{
	cursor:pointer;
    background-color: #9C3D39;
    font-size: 1.5rem;
    color:whitesmoke;
    padding: 10px;
}
.login-table td{
    vertical-align: middle;
    height:50px;
}
.idpw input{
	width:95%;
	height:50px;
}
.idpw-2 input{
	height:50px;
}
.idpw select{
	width:95%;
	height:50px;
}
.login-bottom{
    border-top:2px solid #9C3D39;
}
.login-text{
    color:red;
    margin-top:10px;
    font-weight: bolder;
    font-size:1.2rem;
}
input[name=remember]{
	margin-top:10px;
	margin-left:55%;
	text-align:left;
	width:30px;
}
.save-id{
	font-weight: bolder;
}

/*hr색상*/
.hr{
	border-bottom:4px solid #9C3D39;
}

/*로그인*/
.login-text{
	color:black;
	margin-right:10px;
}

/*회원가입*/
.regist-btn{
	width:300px;
	height:50px;
	font-size:1.2rem;
	font-weight: bolder;
	background-color:#7aa0bd;
}
.terms-agree-title{
	font-size:1.4rem;
	font-weight: bolder;
}
.terms-agree{
	font-size:1.3rem;
}

/*장바구니*/
.my-cart table{
	min-height:400px;
	backgroung-color:yellow;
}
.my-cart table td{
	height:50px;
	backgroung-color:yellow;
}

/*결제화면*/


